# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://raw.githubusercontent.com/SecktorBot/Brandimages/main/logos/SocialLogo%201.png"
port = 5000
email = "xheikhsalman4422@gmail.com"
AUTO_BIO=false
global_url = "instagram.com"
OWNER_NAME = "salmanytofficial"
AUTO_REACTION = false
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= GOJO
WORKTYPE = public
"PACK_AUTHER": "XLICON-MD"
"PACK_NAME": "WA-BOT"
ANTILINK_VALUES = "chat.whatsapp.com"
 
